@import "tailwindcss";


body {
    @apply text-sm md:text-base xl:text-lg;
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 300;
    line-height: 1.35 !important;
    background: #F9FAFB !important;
    color: #111827;
}

.container {
    max-width: 1440px !important;
    margin: 0 auto;
    width: 100%;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    @apply px-5 md:px-[5%];
}

canvas {
    display: block;
}
h1, h2, h3{
    font-weight: 400;
}

h1 {
    font-size: 32px;
}
@media (min-width: 1024px) {
    h1 {
        font-size: 48px;
    }
}

h2 {
    font-size: 28px;
}
@media (min-width: 1024px) {
    h2 {
        font-size: 40px;
    }
}

h3 {
    font-size: 21px;
}
@media (min-width: 1024px) {
    h3 {
        font-size: 32px;
    }
}

canvas {
    display: block;
}
a{
    text-decoration: none !important;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

a, .btn, .header__logo, .footer__logo{
    transition: 0.3s;
}

a:hover, .btn:hover, .header__logo:hover, .footer__logo:hover{
    opacity: 0.7;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    padding: 10px 16px;
    font-weight: 500;
    @apply w-[280px] sm:w-max;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    color: #F9FAFB;
    border: 1px solid #F9FAFB;
}











header{
    padding-top: 20px;
}

.header__content{
    /*background-color: #111827;*/
    border-radius: 20px;
    color: #F9FAFB;
    background-color: #252e4a;
    padding: 10px 20px;
}

.header__logo, .footer__logo{
    width: 90px;
    height: 55px;
    font-size: 40px;
}

.header__content .nav__menu{
    display: none;
}

@media (min-width: 1024px){
    .header__content .nav__menu {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .header__content .nav__menu a{
        margin-right: 16px;
    }
}

@media (min-width: 1280px){
    .header__content .nav__menu a{
        margin-right: 24px;
    }
}

.header__content .nav__menu a:last-child{
    margin-right: 0;
}

.header__burger{
    width: 43px;
    height: 18px;
}

.header__burger span{
    width: 100%;
    height: 1px;
    background-color: #F9FAFB;
}

.header__mobile {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    background-color: #111827;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    visibility: hidden;
    z-index: -10;
    opacity: 0;
    color: #F9FAFB;
}

.header__mobile.active{
    visibility: visible;
    opacity: 1;
    z-index: 990;

    padding: 24px 0 0 0;
}

.header__mobile-content{
    position: relative;
    z-index: 15;
    padding: 0 20px;
}

.header__mobile-top{
    border-bottom: 1px solid #F9FAFB;
    padding-bottom: 16px;
}

.header__mobile-logo {
    width: 90px;
    height: 55px;
    color: #F9FAFB;
    display: flex;
    align-items: center;
    font-size: 40px;
}

.close__burger{
    width: 40px;
}

.close__burger span{
    height: 1px;
    width: 100%;
    background-color: #F9FAFB;
    display: block;
}

.close__burger span:nth-child(1){
    transform: rotate(-45deg);
}

.close__burger span:nth-child(2){
    transform: rotate(45deg);
}

.header__mobile .nav__menu{
    margin-top: 24px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.header__mobile .nav__menu a{
    margin-bottom: 16px;
    display: block;
    padding: 10px 0;
}

.header__mobile .nav__menu a:last-child{
    margin-bottom: 0;
}

.overlay {
    background-color: #111827;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
}






.contact__popup {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    visibility: hidden;
    opacity: 0;
    z-index: -10;
}

.contact__popup.active{
    visibility: visible;
    opacity: 1;
    z-index: 99999;
}

.contact__popup .popup__frame{
    margin: 0 5%;
    position: relative;
    background-color: #111827;
    color: #F9FAFB;
    z-index: 11;
    border-radius: 20px;
}

.contact__popup .popup__close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 12;
    width: 40px;
    height: 40px;
}

.contact__popup .popup__close span{
    height: 1px;
    width: 100%;
    background-color: #F9FAFB;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}

.contact__popup .popup__close span:nth-child(1){
    transform: rotate(-45deg);
}

.contact__popup .popup__close span:nth-child(2){
    transform: rotate(45deg);
}

.contact__popup .popup__content {
    max-width: 690px;
    padding: 35px 40px;
}

@media (min-width: 1024px) {
    .contact__popup .popup__content {
        padding: 65px 75px;
    }
}

.contact__popup .popup__content h3{
    padding-bottom: 30px;
}

.contact__popup form input, .section__form form input{
    border-color: #F9FAFB;
    border: 1px solid;
    border-radius: 20px;
    height: 50px;
    padding: 0 15px;
}

.section__form form textarea{
    border-color: #F9FAFB;
    border: 1px solid;
    border-radius: 20px;
    min-height: 100px;
    padding: 10px 15px;
}

.contact__popup form button, .section__form form button{
    min-height: 50px;
    color: #111827;
    background-color: #F9FAFB;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.contact__popup form button:hover,
.section__form form button:hover{
    opacity: 0.7;
}

span.required{
    color: red;
}






.sectiom__first{
    padding-top: 150px;
}

.section__hero{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background-color: #111827;
    color: #F9FAFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background__slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.swiper{
    width: 100%;
    height: 100%;
}

.swiper-slide {
    height: 100%;
}

.hero__content{
    position: relative;
    z-index: 2;
}

footer{
    background-color: #252e4a;
    color: #F9FAFB;

    padding: 50px 0;
}

footer .footer_rights{
    opacity: 0.6;
    font-size: 12px;
    @apply sm:text-sm md:text-base xl:text-lg;
}

















.section__about{
    padding-bottom: 60px;
}

@media (min-width: 768px) {
    .section__about {
        padding-bottom: 80px;
    }
}

@media (min-width: 1024px) {
    .section__about {
        padding-bottom: 100px;
    }
}

.section__about h2 {
    padding-bottom: 40px;
}

@media (min-width: 640px){
    .section__about h2 {
        padding-bottom: 60px;
    }
}

@media (min-width: 1024px){
    .section__about h2 {
        padding-bottom: 80px;
    }
}

@media (min-width: 1280px){
    .section__about h2 {
        padding-bottom: 100px;
    }
}


.about__text .issue {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (min-width: 768px){
    .about__text .issue {
        flex-direction: row;
        gap: 48px;
    }
}

.about__text .issue:nth-child(2),
.about__text .issue:nth-child(4) {
    flex-direction: column-reverse;
}

@media (min-width: 768px){
    .about__text .issue:nth-child(2),
    .about__text .issue:nth-child(4) {
        flex-direction: row;
    }
}

.about__text .issue .issue__image {
    position: relative;
    display: flex;
    width: 100%;
}

@media (min-width: 768px){
    .about__text .issue .issue__image {
        width: 55%;
    }
}

.about__text .issue .issue__image .image__decor{
    position: absolute;
    height: 25%;
    max-height: 80px;
    width: 1px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #252e4a;
}

@media (min-width: 640px){
    .about__text .issue .issue__image .image__decor {
        max-height: 120px;
    }
}

@media (min-width: 1024px){
    .about__text .issue .issue__image .image__decor {
        max-height: 150px;
        height: 33%;
    }
}

.about__text .issue .issue__description{
    width: 100%;
}

@media (min-width: 768px){
    .about__text .issue .issue__description {
        width: 45%;
    }
}

.about__text .issue .issue__description .issue__label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: #252e4a;
    border-radius: 30px;
    border: 1px solid #252e4a;
    padding: 0 20px;
    max-width: 140px;
    font-size: 21px;
    height: 38px;
}
@media (min-width: 768px){
    .about__text .issue .issue__description .issue__label {
        margin-bottom: 15px;
    }
}

@media (min-width: 1024px){
    .about__text .issue .issue__description .issue__label {
        margin-bottom: 20px;
    }
}

.about__text .issue .issue__description .issue__name{
    margin-bottom: 20px;
}

@media (min-width: 768px){
    .about__text .issue .issue__description .issue__name {
        margin-bottom: 40px;
    }
}

.about__text .issue .issue__description .issue__solutions ul {
    list-style: none;

}

.about__text .issue .issue__description .issue__solutions ul li {
    position: relative;
    left: 15px;
    padding-right: 15px;
}

.about__text .issue .issue__description .issue__solutions ul li::before {
    content: '';
    width: 4px;
    height: 4px;
    background-color: #252e4a;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: -15px;
}

@media (min-width: 768px){
    .about__text .issue .issue__description .issue__solutions ul li::before{
        top: 10px;
    }
}

@media (min-width: 1280px){
    .about__text .issue .issue__description .issue__solutions ul li::before{
        top: 13px;
    }
}





.section__contacts, .section404{
    min-height: calc(100vh - 155px);
}

.contacts__map iframe{
    border-radius: 20px;
}

.section404 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section404 span{
    font-size: 96px;
    font-weight: 500;
}

.section404 p{
    font-size: 18px;
}

@media (min-width: 1024px){
    .section404 p{
        font-size: 24px;
    }
}






.section__faq{
    padding: 60px 0;
}

@media (min-width: 768px) {
    .section__faq {
        padding: 80px 0;
    }
}

@media (min-width: 1024px) {
    .section__faq {
        padding: 100px 0;
    }
}

.faq__tab{
    border: 1px solid #252e4a;
    margin-bottom: 20px;
    padding: 0 10px;
    border-radius: 20px;
}

.faq__question {
    font-size: 18px;
    font-weight: 500;
}
@media (min-width: 768px) {
    .faq__question {
        font-size: 21px;
    }
}
@media (min-width: 1024px) {
    .faq__question {
        font-size: 24px;
    }
}
@media (min-width: 1280px) {
    .faq__question {
        font-size: 26px;
    }
}




.section__form{
    background-color: #252e4a;
    color: #F9FAFB;
    padding: 60px 0;
}

@media (min-width: 768px) {
    .section__form {
        padding: 80px 0;
    }
}

@media (min-width: 1024px) {
    .section__form {
        padding: 100px 0;
    }
}




.section__form h2 {
    padding-bottom: 40px;
}

@media (min-width: 1024px){
    .section__form h2 {
        padding-bottom: 40px;
    }
}

@media (min-width: 1280px){
    .section__form h2 {
        padding-bottom: 60px;
    }
}


.section__form .form__telephone a{
    text-decoration: underline!important;
    text-underline-offset: 5px!important;
    text-decoration-thickness: 1px!important;
}

html {
    scroll-behavior: smooth;
}